@font-face {
    font-family: 'gato';
    src: url(../assets/fonts/Cattyla.ttf);
}

body{
    height: 100vh;
    width: 100%;
}

header{
    text-align: center;
    background-color: #ffcf77;
    padding: 10px;
    color: #fffcf0;
    height: auto;
}

.logo{
    width: 100px;
    filter: drop-shadow(3px 5px 3px black);
}

h1{
    font-family: 'gato', sans-serif;
    display: inline-block;
    font-size: 3.5em;
    position: relative;
    bottom: 20px;
    text-shadow: 2px 2px 5px black;
}

.arbol-header{
    width: 250px;
    position: absolute;
    right: 0;
    opacity: 50%;
}

main{
    background-color: #fffcf0;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 0 auto;
    display: flex;
    padding: 3em;
    height: 65%;
}

.encriptador{
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.div-encriptador, .div-mensaje{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding: 1em;
    background-color: #fffcf0;
    border-radius: 25px 0;
    box-shadow:10px -10px 0px #ffcf77, -10px 10px 0px #ffcf77;
    height: 70%;
}

.resultado{
    width: 40%;
    margin: 0 auto;
    height: 100%;
}

#texto-devuelto{
    background: url(../assets/images/gatosDurmiendo.svg);
    background-repeat: no-repeat;
    background-size: 60vh;
    background-position: center;
}

.texto-area{
    border-color: #ffcf77;
    border-radius: 10px 0;
    resize: none;
    background: transparent;
    text-transform: lowercase;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: center;
}

.instrucciones{
    padding: 20px 0 10px;
    font-size: 1.2em;
}

button{
    font-family: 'gato', sans-serif;
    color: #fffcf0;
    font-weight: 200;
    border: 2px solid #7a6339;
    background-color: rgb(253, 189, 71);
    border-radius: 10px 0;
    padding: 5px 10px;
    font-size: 1.5em;
    margin: 0 10px;
    transition: 200ms;
    text-shadow: 1px 1px 1px black;
}

button:hover{
    background-color: #ffcf77;
    font-size: 1.7em;
    
}

button:active{
    background-color: #fffd8f;
    font-size: 1.7em;
    
}

.btn-desencriptar{
    background-color: #a38244;
    border: 2px solid #7a6339;
}

footer{
    background-color: #ffcf77;
    text-align: center;
    height: 125px;
    font-size: 0.9em;
    color: rgb(23, 23, 23);
    font-family: 'Josefin Sans', sans-serif;
}

.arbol-footer{
    width: 250px;
    opacity: 50%;
    position: absolute;
    left: 0;
}

footer p{
    padding-top: 2em;

}

footer a{
    font-weight: bold;
    text-decoration: none;
    color: #fffcf0;
    text-shadow: 1px 1px 1px black;
}

footer a:visited{
    color: #fffd8f;
}

footer p:first-of-type{
    font-size: 1.1em;
}
@media screen and (max-width:573px) {
    body{
        height: 100%;
    }

    main{
        display: block;
        height: 100%;
    }

    .resultado, .encriptador{
        width: 100%;
        height: 300px;
    }

    button{
        margin: 0 0 1em;
    }

    .resultado{
        margin-top: 5em;
    }

    .texto-area{
        font-size: 1.6em;
    }
}

@media screen and (max-width:880px) {
    .arbol-header, .arbol-footer{
        visibility: hidden;
    }

    #texto-devuelto{
        background-size: 30vh;
    }
}